.navAndGrid{
    display: block;
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.cardGrid{
    width: 80%;
    height: 80vh;
    margin: 0 auto 1rem 2rem;
    overflow-y: scroll;
}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

ul > li{
    width: clamp(40%, 50%, 100%);
}