.navAndGrid{
    display: block;
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid red;
}

.cardGrid{
    width: 100%;
    height: 80vh;
    margin: 0 0rem 0rem 2rem;
    overflow-y: scroll;
    border: 2px solid blue;

}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem auto;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    width: 90vw;
    border: 2px solid orange;
    padding: 0rem;

}

ul > li{
    width: clamp(40%, 50%, 100%);
}